.meal table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 10px;
}

.meal th {
  border: 1px solid black;
}
.meal td {
  text-align: center;
  border: 1px solid black;
}

.exercise table {
  border-collapse: collapse;
  width: 100%;
}

.exercise th {
  border: 1px solid black;
}
.exercise td {
  text-align: center;
  border: 1px solid black;
}
